.btnWrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.nameWrap {
  display: flex;

  div {
    flex: auto;
  }
}

.listenBtn {
  height: 38px;
  width: 38px;
  align-self: flex-end;
  margin-left: 6px;
}

.modalWrap {
  padding: 0;
}
