.header {
  margin: 8px 0 20px;
  text-align: center;
}

.lang {
  border-radius: 12px;
  display: flex;
  align-items: center;

  &.selected {
    background: var(--base-primary);

    @media (prefers-color-scheme: dark) {
      //todo
      color: black;
    }
  }
}

.icon {
  margin-right: 12px;
}
