.wrap {
  padding-top: var(--safe-area-inset-top);
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 12px;
  flex: auto;
  height: 1%;
}

.footer {
  padding-bottom: var(--safe-area-inset-bottom);
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: white;
}
