.wrap {
  padding-top: var(--safe-area-inset-top);
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: calc(0px - var(--safe-area-inset-top));
  padding-top: calc(var(--safe-area-inset-top) - 16px);
  position: sticky;
  background: white;
  top: 0;
  z-index: 10;
}

.content {
  padding: 12px;
  padding-bottom: calc(var(--safe-area-inset-bottom) + 12px);
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 1%;
}

.footer {
  padding-bottom: var(--safe-area-inset-bottom);
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: white;
}
