.selectorWrap {
  position: sticky;
  bottom: calc(12px + var(--safe-area-inset-bottom));
}

.wordsSelector {
  padding: 12px;
  border: none;
  background: var(--base-secondary);
  height: 44px;

  input {
    text-align: center;
  }

  svg {
    display: none;
  }
}

.optionMeaning {
  margin-top: 2px;
  color: var(--content-2);
}

.wordsSection {
  margin-top: 12px;
}

.wordRow {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.wordWrap {
  flex: auto;
  min-width: 1%;
}

.deleteRowBtn {
  margin-left: 6px;
  width: 38px;
  height: 38px;
  flex: none;
}

.modalWrap {
  padding: 0;
}
