.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textPart {
  overflow: hidden;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
}

.meaning {
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
