.wrap {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid gray;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.input {
  flex: auto;
  cursor: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  background: none;
}

.icon {
  margin-left: auto;
  padding-left: 4px;
}

.search {
  margin-top: 6px;
}

.optionsWrap {
  margin-top: 6px;

  flex: auto;
  overflow: auto;
}

.optionWrap {
  //todo +4 height without it
  display: flex;
  padding: 10px 0;
}
