.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 14px;
  color: var(--content-2);
  text-align: center;
  margin-bottom: 12px;
}

.searchInput {
  flex: auto;
  margin-right: 12px;
}

.word {
  & + & {
    margin-top: 12px;
  }
}
