.wrap {
  display: flex;
  justify-content: space-between;
  min-height: 50px;

  @media (prefers-color-scheme: light) {
    border-top: 1px solid var(--base-border-color);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--content-2);
  flex: 1 1 0;

  &.active {
    color: var(--content-1);
    font-weight: 600;
  }
}
