.wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.primary {
  --bg-color: var(--base-primary);
  --color: var(--base-primary);
}

.secondary {
  --bg-color: var(--base-secondary);
  --color: var(--content-2);

  &.filled {
    color: var(--content-1);
  }
}

.success {
  --bg-color: var(--base-success);
  --color: var(--base-success);
}

.danger {
  --bg-color: var(--base-danger);
  --color: var(--base-danger);
}

.filled {
  border: none;
  background: var(--bg-color);
  color: black;

  &.primary {
      color: var(--content-4);
  }
}

.outline {
  border: 1px solid var(--color);
  background: none;
  color: var(--color);
}

.minimal {
  border: none;
  background: none;
  color: var(--color);
}

.m {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}

.l {
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
}

.xl {
  padding: 20px;
  font-size: 20px;
  line-height: 24px;
}

.fullWidth {
  width: 100%;
}

.left {
  justify-content: flex-start;
}

.spinner {
  margin-right: 8px;
}
