.wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  //todo reuse
  -webkit-user-select: none;
  user-select: none;
}

.success {
  background: #5EC169;
}

.danger {
  background: #DD524C;
}

.secondary {
  background: #cecece;
}

.m {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}

.l {
  font-size: 16px;
  line-height: 20px;
}

.xl {
  padding: 30px;
  font-size: 20px;
  line-height: 24px;
}

.fullWidth {
  width: 100%;
}

.spinner {
  margin-right: 8px;
}
