.wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: var(--content-1);
}

.primary {
  background: var(--base-primary);
}

.danger {
  background: var(--base-danger);
}

.secondary {
  background: var(--base-secondary);
}

.m {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}

.l {
  font-size: 16px;
  line-height: 20px;
}

.xl {
  padding: 30px;
  font-size: 20px;
  line-height: 24px;
}

.fullWidth {
  width: 100%;
}

.spinner {
  margin-right: 8px;
}
