.wrap {
  padding: 12px;

  /*todo*/
  -webkit-user-select: none;
  user-select: none;
}

.topRow {
  justify-content: space-between;
}

.bottomRow {
  margin-top: 12px;
}

.row {
  display: flex;
  align-items: center;
}

.lang {
  //todo if no other slots
  //margin-left: 8px;
}
