.wrap {
  padding: 12px;

  /*todo*/
  -webkit-user-select: none;
  user-select: none;
}

.topRow {
  justify-content: space-between;
}

.left, .right {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.left {
  > * + * {
    margin-left: 6px;
  }
}

.bottomRow {
  margin-top: 12px;
}

.row {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  //todo if no other slots
  //margin-left: 8px;
}
