.wrap {
  padding: 12px;
  background: white;

  -webkit-user-select: none;
  user-select: none;
}

.row {
  height: 50px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

.lang {
  margin-left: auto;
}
