.wrap {
  padding-top: var(--safe-area-inset-top);
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: calc(0px - var(--safe-area-inset-top));
  padding: 12px;
  padding-top: var(--safe-area-inset-top) !important;
  position: sticky;
  top: 0;
}

.headerBorder {
  outline: 1px solid lightgray;
}

.content {
  padding: 12px;
  flex: auto;
  height: 1%;
}
