.wrap {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.7;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 12px;
  padding-bottom: max(var(--safe-area-inset-bottom), 12px);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: white;
  overflow: auto;
}

.l {
  height: 80%;
}

.xl {
  height: calc(100% - var(--safe-area-inset-top));
}
