.wrap {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: black;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-bottom: max(var(--safe-area-inset-bottom), 12px);
  position: absolute;
  background: var(--base-2);
  overflow: auto;
}

.l {
  height: 80%;
}

.xl {
  height: calc(100% - max(var(--safe-area-inset-top), 16px));
}

.bottom {
  border-radius: 12px 12px 0 0;
  bottom: 0;
  width: 100%;
}

.left {
  left: 0;
  width: 300px;
  height: 100%;
  padding-top: max(var(--safe-area-inset-top), 12px);
  padding-bottom: max(var(--safe-area-inset-bottom), 12px);
}
