.wrap {
  padding: 12px;
}

.separator {
  border-bottom: 1px solid var(--base-border-color);
}

.row {
  display: flex;
  align-items: center;
}

.topRow {
  justify-content: space-between;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 1 0;
}

.left {
  margin-right: 6px;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-left: 6px;
}

.center {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topRow + .bottomRow {
  margin-top: 12px;
}
