.wrap {
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  /*todo  if not in modal*/
  background: var(--base-2);
  border-radius: 12px 12px 0 0;
  z-index: 10;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  padding-bottom: max(var(--safe-area-inset-bottom), 12px);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.deleteBtn {
  margin-top: auto;
  padding-top: 12px;
}
