* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;

  /*todo strange*/
  height: calc(100% + var(--safe-area-inset-top));
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
