.spacer {
  margin-right: auto;
}

.searchRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linksWrap {
  display: flex;
  align-items: center;
  flex: auto;

  * + * {
    margin-left: 6px;
  }
}

.repeatBtn {
  margin-right: 10px;
}

.searchInput {
  flex: auto;
}

.sortSelect {
  flex: auto;
  width: 100px;
  text-align: right;
  padding: 12px 7px;
  border: none;
  color: gray;

  input {
    border: none;
    color: inherit;
    width: 100%;
    text-align: right;
  }
}

.list {
  flex: auto;
}

.subtitle {
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 12px;
}
