.wrap {
  padding: 12px;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  margin-top: 12px;
}

.linksWrap {
  display: flex;
  align-items: center;

  * + * {
    margin-left: 6px;
  }
}

.wordCounter {
  margin-left: auto;
}

.sortSelect {
  margin-top: 15px;
  text-align: right;
  font-size: 16px;
  padding: 12px 7px;
  border: none;
  color: gray;
}

.list {
  padding: 15px;
  margin: 0 -10px;
  flex: auto;
  overflow: auto;
}

.word {
  display: block;
  text-decoration: none !important;
  color: inherit !important;

  box-shadow: 0 1px 4px 2px #cecece;
  border-radius: 4px;
  padding: 12px;

  & + & {
    margin-top: 12px;
  }
}

.topRow {
  display: flex;
  align-items: center;
}

.text {
  flex: auto;
  font-size: 20px;
  font-weight: 600;
}

.step {
  margin-left: 10px;
  flex: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meaning {
  font-size: 18px;
  margin-top: 4px;
}
