.wrap {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.status {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  flex: auto;
}

/* todo name, refacto */
.endStageButtons {
  margin: -12px;
  margin-top: auto;
  padding: 12px;
  position: sticky;
  bottom: 0;
  background: white;
}

.buttons {
  width: 100%;
  display: flex;
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: 12px;
}

.btn {
  margin: 6px;
  flex: auto;
}

.revertBtn {
  margin: 6px;
}

.doneLabel {
  text-align: center;
}

.resultWrap {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 1%;
  width: 100%;
}

.toRepeatWrap {
  margin-top: 20px;
}

.repeatLabel {
  text-align: center;
}

.repeatList {
  padding: 15px;
  margin: 8px -10px 0;
  flex: auto;
  overflow: auto;
}
