.status {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actionsWrap {
  display: flex;
  //todo
  align-self: start;
}

.card {
  flex: auto;
}

.buttons {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 12px;
}

.btn {
  margin: 6px;
  flex: auto;
}

.doneLabel {
  text-align: center;
}

.resultWrap {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 1%;
  width: 100%;
}

.toRepeatWrap {
  margin-top: 20px;
}

.repeatLabel {
  text-align: center;
}

.repeatList {
  padding: 15px;
  margin: 8px -10px 0;
  flex: auto;
  overflow: auto;
}
