.word {
  display: block;

  & + & {
    margin-top: 12px;
  }
}

.topRow {
  display: flex;
  align-items: center;
}

.text {
  width: 1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  font-size: 20px;
  font-weight: 600;
}

.tag {
  margin-left: 8px;
  height: 22px;
  padding: 0 8px;
  border-radius: 10px;
  background: #cecece;
}

.step {
  margin-left: 8px;
  flex: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meaning {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  margin-top: 4px;
}
