.word {
  font-size: 14px;
  display: block;

  & + & {
    margin-top: 12px;
  }
}

.topRow {
  display: flex;
  align-items: center;
}

.text {
  width: 1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  font-size: 16px;
  font-weight: 600;
}

.tag {
  margin-left: 6px;
}

.meaning {
  color: var(--content-2);
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
