.wrap {
  border: 1px solid var(--controls-border-color);
  border-radius: 8px;

  //todo height
  height: 38px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 12px;
}

.fullWidth {
  width: 100%;
}
